---
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import "/Users/jhes/Desktop/MMD/2sem/astro/src/styles/style.css";
import button from "/Users/jhes/Desktop/MMD/2sem/astro/src/components/Button.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Navigation />
    <h1>Astro</h1>

    <main>
      <button variant="primary" size="medium">TEXT</button>
    </main>
  </body>
</html>
